/* Greensley Bank - Style.css stylesheet by Carl Wood */

* {
    margin:0;
}

body {
    background:#f9f9f9;
    background-repeat: repeat-x;
    font-family:Arial;
}

#wrapper {
    width:960px;
    margin:0 auto;
    max-width: 100%;
}

.container{width:960px; margin:0 auto;max-width: 100%;}

img
{  
    border-style: none;
    max-width: 100%;
}

.footercontainer {
    width:960px; margin:0 auto; border-top:solid 1px #ddd; margin-top:50px;
}

#topbar {
    height:8px;
    background:#225020;
    border-bottom:solid 2px #eee;
    margin-bottom:20px;
}

#header {
    height:120px;
    margin:0 auto;
}

#header img {
    margin-top:20px;
    float:left;
}

#footer {
    margin-top:10px;
    padding:30px 0;
    clear:both;
    overflow:auto;
}

#footer p {
    color:#666;
    font-size:12px;
}

#footer a {
    color:#666;
}

#footer a:hover {
    color: #225020;
}

#nav {
    float:right;
}

#nav ul {
    list-style-type:none;
    margin-right:30px;
    margin-top:30px;
}

#nav ul li {
    display:inline;
    padding:10px;
}

#nav ul li a {
    text-decoration:none;
    color:#225020;
    font-size:1.2em;
    border-bottom:1px #ccc dotted;
}

#nav ul li a:hover {
    border:none;
}

#top img {

}

#top {
    padding-bottom:50px;
    margin:0 auto;
}

#top ul {
    padding-bottom:50px;
    }

#left {
    float:left;
    width:400px;
    margin-top:50px;
    margin-right:80px;
    }

/* Produce page divisions */

.produceleft {
    float:left;
    width:550px;
    margin-top:50px;
    margin-bottom:30px;
    margin-right:50px;
    }


.produceright img {
    margin-top:80px;
    margin-left:80px;
    padding:2px;
    border:solid 1px #ddd;
}

#right {
    float:left;
    width:400px;
    margin-top:50px;
}

#images {
    height:300px;
}

/* Typography */

h1 {
    font-size:23px;
    color:#2c2c2c;
    padding-bottom:3px;
    margin-right:20px;
    margin-bottom:20px;
    font-weight:100;
    border-bottom:solid 1px #ddd;
}

h1.producemain {
    font-size:30px;
    padding-top:30px;
}

.blog-post p{
    font-size:15px;
    line-height:25px;
    margin-bottom:20px;
}

p {
    font-size:13px;
    line-height:19px;
    color:#444;
    margin-bottom:10px;
}

.clear {
    clear:both;
}

ul li {
    font-size:12px;
    line-height:18px;
    color:#444;
    margin-left:15px;
}

.homesection {
    width:290px;
    float:left;
    margin-right:25px;
    padding-right:15px;
}

.rightsection {
    width:290px;
    float:left;
}

#beef {
    margin-top:40px;
    width:550px;
    float:left;
}

#right .section {
    margin-bottom:25px;
    margin-left:30px;
}

#images {
    float:left;
    width:292px;
    margin-top:60px;
    margin-left:90px;
}

.thumbnail {
    float:left;
    margin:12px;
    height:90px;
    width:120px;
    border:solid 1px #ddd;
}

p.contact {
    float:left;
}

p.design {
    float:right;
}

.related {
    margin-right:5px;
}

a.contact:hover {
    background:#fff;
}

a.producelink {
    font-weight:bold;
    color:#000;
}

/* Produce Page Sections */

.price {
    font-weight:bold;
    margin-top:10px;
    }

.note {
    font-size:12px;
    font-style:italic;
    margin-top:10px;
}

.testimonial {
    border:none;
}

/* Blog */

.blog-post {
    margin: 20px 0 50px;
    width:70%;
}

.blog-post img {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}